{% extends 'event/base.html' %}

{% block content %}
<div class="container">
    <div class="row row-col-6">
        <div class="col" style="text-align: center;">
            {% for cat in cat %}
                <a href="{% url 'category' cat.category %}" class="nav-item btn btn-success">{{cat.category}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<br>
<h1 class="lead" style="text-align: center;">{{cats }} Category</h1>
{% if cats %}
    <section style="padding-top:50px;">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for post in category %}
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title|title}}</h5>
                            <p class="card-text"> {{post.description}}.</p>
                            <p class="lead">Location: {{post.location}} | Date: {{post.date}}</p>
                            <b class="lead" style="font-size: small; padding-right:350px ;">Author: {{post.author}}</b>
                            <i class="lead" style="font-size: small;">{{post.category}}</i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h1>Sorry! {{cat}} is Not Yet a Category</h1>
{% endif %}
{% endblock %}